.auth__signin-panel-wrapper {
  width: 350px;
  margin: 0 auto;
}

.auth__signin-panel {
  padding: 15px;
  margin-top: 50px;
  /* background-color: #f5f7fa; */
  /* border-radius: 5px; */
  /* border: solid 1px white; */
}

.auth__signin-social-wrapper {
  width: 100%;
  display: flex;
}
