button {
  width: 100%;
  margin: 3px auto;
  padding: 10px;
  background-color: transparent;
  border: solid 1px #ccd1d9;
  border-radius: 5px;
}

button:hover {
  border: solid 1px #434a54;
  background-color: white;
}

button:focus {
  transform: scale(1.01, 1.01);
}

button:active {
  transform: scale(1.01, 1.01);
}

button:disabled {
  background-color: #e6e9ed;
  color: #656d78;
}

button:disabled:hover {
  border: solid 1px #ccd1d9;
  color: #656d78;
}

.btn__flex {
  flex: 1;
}
