input {
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #aab2bd;
  text-indent: 38px;
  font-size: 16px;
}

input[type=text]:focus {
  border: 1px solid #3bafda;
}

input[type=password]:focus {
  border: 1px solid #3bafda;
}

.form__icon {
  position: absolute;
  padding: 9px;
}
